:root {
  --clr-primary-200: hsl(185, 75%, 39%);
  --clr-primary-400: hsl(229, 23%, 23%);
  --clr-primary-800: hsl(227, 10%, 46%);

  --clr-neutral-400: hsl(0, 0%, 59%);

  --ff-primary: "Kumbh Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

h1 {
  font-size: 18px;
}

img {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  align-self: center;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 8em;
  min-height: 16em;
  text-align: center;
}

.name-age {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.name-age p {
  padding-left: 1em;
}

.top {
  display: flex;
  flex-direction: column;
}

.location p {
  margin: 0;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bottom h1,
.bottom p {
  margin: 0;
}

.bottom h1 {
  margin-top: 2.5em;
}

.entry {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
}
