:root {
  --clr-primary-200: hsl(185, 75%, 39%);
  --clr-primary-400: hsl(229, 23%, 23%);
  --clr-primary-800: hsl(227, 10%, 46%);

  --clr-neutral-400: hsl(0, 0%, 59%);

  --ff-primary: "Kumbh Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  margin: 0;
  padding: 0;
  margin-top: 10em;
  margin-left: 2em;
  margin-right: 2em;
  background-color: var(--clr-primary-200);
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
}

.attribution {
  margin-top: 10em;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

h1 {
  font-size: 18px;
  color: var(--clr-primary-400);
}

p {
  color: var(--clr-neutral-400);
}

img {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  align-self: center;
  margin-top: 5em;
  border: 3px solid white;
}

.header {
  background-image: url(../images/bg-pattern-card.svg);
  filter: brightness(115%);
  border-radius: 00.75em 00.75em 0 0em;
  height: 7em;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 8em;
  min-height: 18em;
  text-align: center;
  max-width: 20em;
  margin: auto;
  border-radius: 00.75em 00.75em 00.75em 00.75em;
  background-color: white;
}

.name-age {
  margin-top: 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.name-age p {
  padding-left: 1em;
}

.top {
  display: flex;
  flex-direction: column;
}

.location p {
  margin: 0;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1.5em;
}

.bottom h1,
.bottom p {
  margin: 0;
}

.bottom h1 {
  margin-top: 2.5em;
}

.entry {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
}

.entry p {
  margin-top: 0.5em;
  font-size: 10px;
}
